<section class="tmrx-blank">
  <div class="tmrx-blank__inner">
    <p class="tmrx-blank__eyebrow">{{ page.title }}</p>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Page",
  "settings": []
}
{% endschema %}
